

*,
*::before,
*::after{
    box-sizing:border-box;
}



:root{
    --background:#fcfbf9;
    --white:#ffffff;
    --dark:#222222;
    --red:#8b0000;
    --dark-red:#660000;
    --gold:gold;
    --border:#d6d6d6;
    --gray:#f4f4f4;
    --hover:#fff5cc;
}



body{
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.6;
    background:var(--background);
    color:var(--dark);
    max-width:1000px;
    margin:auto;
    padding:20px;
}


h1,
h2{
    color:var(--red);
}

header{
    text-align:center;
    margin-bottom:30px;
}


.hero-container img{
    width:100%;
    height:400px;
    object-fit:cover;
    border-radius:10px;
}


form{
    background:var(--white);
    padding:20px;
    border:1px solid var(--border);
    border-radius:8px;
}

.form-group{
    margin-bottom:15px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    border:1px solid var(--border);
    border-radius:5px;
}

button{
    background:var(--red);
    color:var(--white);
    padding:12px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:var(--dark-red);
}



table{
    width:100%;
    border-collapse:collapse;

    background:var(--white);

    padding:20px;

    border:1px solid var(--border);

    border-top:8px solid var(--gold);
}

caption{
    font-size:22px;
    font-weight:bold;
    margin-bottom:10px;
    text-align:left;
}

th,
td{
    border:1px solid var(--border);
    padding:15px;
}

th{
    background:var(--gray);
}



tbody tr:nth-child(even){
    background:var(--gray);
}


tbody tr:hover{
    background:var(--hover);
}



tbody td:last-child::before{
    content:"ETB ";
    font-weight:bold;
}



.map-container iframe{
    width:100%;
    height:350px;
    border:none;
    border-radius:8px;
}